{% load static %}
<!DOCTYPE>
<html>
<head>
<link rel="stylesheet" href="{% static 'blog.css' %}">
<link rel="stylesheet" href="blog230.css">
<body>
<div class="header">
<h1>Dance BLOG</h1>
<img src="https://i.pinimg.com/736x/01/d5/93/01d59314228040bc470dc165b05b568d.jpg"width="850" height="600" alt="dance">
<p><sup>Joy of happiness</sup></p>
</div>
</head>
<div id="myDIV">
  FEET'S JOB IS TO WALK BUT THEIR PASSION IS DANCING .. !<br><br>
  <a href="read.html">Read more .. </a>
</div>
</body>
</html>
