{% load static %}
<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="{% static 'resume.css' %}">
<link rel="stylesheet" href="resume.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>RESUME</title>
</head>
<body>
<div class="container">
  <div class="left_side">
   <div class="profileText">
     <div class="imgBx">
       <img src="{% static 'manju.jpg' %}">
     </div>
     <h2>Manjula B<br><span>Data Analyst</span></h2>
    </div>
   <div class="contactInfo">
     <h3 class="title">Contact Info</h3>
     <ul>
       <li>
         <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
         <span class="text">9843260212</span>
       </li>
       <li>
         <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
         <span class="text">manjula171103@gmail.com</span>
       </li>
       <li>
         <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
         <span class="text">www.linkedin.com</span>
       </li>
      <li>
         <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
         <span class="text">Karur,Tamil Nadu,India</span>
       </li>
     </ul>
     </div>
   <div class="contactInfo education">
     <h3 class="title">Education</h3>
     <ul>
       <li>
         <h5>2021-2025</h5>
         <h4>BTech Artificial intelligence and data science</h4>
         <h4>Karpagam college of Engineering</h4>
         <h4>CGPA : 8.45</h4>
        </li>
         <li>
         <h5>2021</h5>
         <h4>Higher Secondary education</h4>
         <h4>Cheran Matriculation Hr sec school</h4>
         <h4>Passed with : 92.3</h4>
         </li>
        <li>
         <h5>2019</h5>
         <h4>SSLC</h4>
         <h4>Cheran Matric high school</h4>
         <h4>Passed with : 90.0</h4>
        </li>
       </ul>
     </div>
      
    <div class="contactInfo language">
     <h3 class="title">Languages</h3>
     <ul>
       <li>
          <span class="text">Tamil</span>
          <span class="percent">
           <div style="width:95%;"></div>
           </span>
       </li>
       <li>
          <span class="text">Engilsh</span>
          <span class="percent">
	    <div style="width:60%;"></div>
            </span>
           
       </li>
        <li>
          <span class="text">Hindi</span>
          <span class="percent">
           <div style="width:40%;"></div>
           </span>
           
       </li>
         <li>
          <span class="text">Telugu</span>
          <span class="percent">
            <div style="width:30%;"></div>
          </span>
           </li>
         </ul>
        </div>
     </div>
  <div class="right_side">
   <div class="about ">
    <h2 class="title2">Profile</h2>
     <p>I am an Artificial intelligent student with focus on Career.I am hard working,diligent and dedicated all qualities I put forward in everything I do.Seeking a challenging and career-advancing position as a junior data analyst with Tech Firefly.</p>
   </div>
   <div class="about">
     <h2 class="title2">PROJECT</h2>
       <div class="box">
        <div class="year_company">
           <h5 >Project 1</h5>
           <h5 style="color:#2a7da2";>Duration : one month</h5>
           <p>Website Creation using HTML -CSS</p>
        </div>
        <div class="box">
        <div class="year_company">
           <h5>Project 2</h5>
           <h5  style="color:#2a7da2";>Duration : one month</h5>
           <p>Breast cancer prediction using Machine learning</p>
          </div>
        </div>
      </div>
          <br><h2><b>PROFESSIONAL SKILLS</b></h2>
 <div class="skillsp">
   <div class="skills">
     <h4>HTML</h4>
     <div class="progress-bar">
        <div class="html"><span>80%</span></div>
     </div>
     <h4>CSS</h4>
     <div class="progress-bar">
        <div class="css"><span>75%%</span></div>
     </div>
     <h4>PYTHON</h4>
     <div class="progress-bar">
        <div class="python"><span>70%</span></div>
     </div>
     <h4>SQL</h4>
     <div class="progress-bar">
        <div class="sql"><span>50%</span></div>
     </div>
     <h4>DATAVISUALIZATION</h4>
     <div class="progress-bar">
        <div class="datavisualization"><span>60%</span></div>
     </div>
        </div>
     </div>
       </div>
       <div class="Strengths">
        <h2 class="title2">Strengths</h2>
        <ul>
         <li>Team work</li>
         <li>Leadership</li>
         <li>Work ethic</li>
         <li>Event management</li>
       </ul>
       <br><div class="Interests">
        <h2 class="title2">Interests</h2>
        <ul>
         <li>Dancing</li>
         <li>Listening Music</li>
       </ul>
              
               
         
       
   </div>
  </div>
</body>
</html>

